header {
    margin: 0 auto;
    padding: var(--space-4) var(--size-gutter);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
}

.mobile-view {
    display: none
}


.header-logo {
    display: flex; 
    align-items: center;
}

.header-logo-link {
    font-size: var(--font-lg); 
    text-decoration: none; 
    margin-right: 3rem;
}

.header-links > * {
    font-size: 12px;
    margin-right: 1.25rem;
}

.shopping-links {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.shop {
    display: flex;
    align-items: center;
}

.sign-in-link {
    display: flex; 
    align-items: center; 
    font-size: var(--font-lg); 
    text-Decoration: none; 
    margin-right: 1rem;
}

.hamburger-menu {
    display: none;
}

@media screen and (max-width: 720px) {
    .header-links {
        display: none;
    }

    .mobile-view {
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 100%;
        width: 50%;
        left: -110%;
        padding: 5rem 2rem;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .mobile-view  > * {
        margin: 1rem 0 0 0;
    }

    .mobile-view  > *:hover {
        text-decoration: underline;
    }

    .mobile-view.active {
        background-color: white;
        left: 0px;
        transition: all 0.5s ease;
        opacity: 1;
        z-index: 1;
    }

    .header-logo-link {
        margin: 0;
    }

    .sign-in-link  {
        margin: .25rem;
    }

    .sign-in-link span {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        cursor: pointer;
        z-index: 1;
    }
}